<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="refresh" content="30">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>WHD AutoPrint</title>
</head>

<body onLoad="document.getElementById('partNumber').focus()";>
    <div class="d-flex flex-column p-4">
        <div class="p-2 align-self-center d-flex justify-content-center">
            <div class="bg-dark p-4 rounded">
                <h1 class="text-light">WHD-Autoprint</h1>
                <p class="text-light">Autoprint for WebHelpDesk and Dymo Printers</p>
                <br>
                <p class="text-light">Last server check: <span class="badge rounded-pill bg-primary"><%= lastServerCheck %></span></p>
                <p class="text-light">Last Label print: <span class="badge rounded-pill bg-primary"><%= lastLabelPrint %></span></p>
                <p class="text-light">Last Subject: <%= lastSubject %></p>

                <a type="button" class="btn btn-primary text-dark" href="/print/lastLabel">Print Last Ticket (Label)</a>
                <a type="button" class="btn btn-primary text-dark" href="/print/lastRecipt">Print Last Ticket (Recipt)</a>

                <br>
                <br>
                <form action="/print/part" method="get">
                    <input type="text" name="partNumber" id="partNumber" placeholder="GSX Part Number">
                    <input type="submit" class="btn btn-primary text-dark" value="Print Part Label">
                </form>
                <br>
                <br>
                <form action="/print/ticket" method="get">
                    <input type="text" name="ticketNumber" id="ticketNumber" placeholder="Ticket Number">
                    <input type="submit" class="btn btn-primary text-dark" value="Print Ticket Label">
                </form>
                <br>
                <br>
                <p class="text-light">Last Label: <img src="last_label.png" alt=""></p>
                <p class="text-muted">Copyright 2021 Tom Butcher (t.butcher@albion.co.uk)</p>
                <br>
                <br>
                <a class="" href="/updaterestart">Update and Restart</a>
            </div>
        </div>
</body>

</html>